<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->

<configuration>
    <connectionStrings>
        <add name="test1ConnectionString" connectionString="Data Source=C0003027505\SQLEXPRESS;Initial Catalog=test1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="test1ConnectionString1" connectionString="Data Source=LAPTOP-S1G2RH08\SQLEXPRESS;Initial Catalog=test1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
